src/websites/__pycache__/BullDog.cpython-38.pyc
src/model/__pycache__/Offer.cpython-38.pyc
src/model/__pycache__/Website.cpython-38.pyc
src/websites/__pycache__/NoFluff.cpython-38.pyc
src/websites/__pycache__/JustJoin.cpython-38.pyc
.vscode/launch.json
.vscode/settings.json
database.txt
