{% extends 'profile.html' %}


{% block right_column %}
  <div class='p-3 mt-5 container-fluid border rounded' style="width: 300px;">
    <form method='POST'>
      {{ form.hidden_tag() }}
      <div class='form-group'>
        <label for='old_password'>Current Password</label>
        {% if form.old_password.errors %}
          {{ form.old_password(class='form-control is-invalid') }}
          <small style="color:red">{{ form.old_password.errors|join(', ')}}</small>
        {% else %}
          {{ form.old_password(class='form-control') }}
        {% endif %}
      </div>
      <div class='form-group'>
        <label for='new_password'>New Password</label>
        {% if form.new_password.errors %}
          {{ form.new_password(class='form-control is-invalid') }}
          <small style="color:red">{{ form.new_password.errors|join(', ')}}</small>
        {% else %}
          {{ form.new_password(class='form-control') }}
        {% endif %}
      </div>
      <div class='form-group'>
        <label for='confirm_new'>Confirm New Password</label>
        {% if form.confirm_new.errors %}
          {{ form.confirm_new(class='form-control is-invalid') }}
          <small style="color:red">{{ form.confirm_new.errors|join(', ')}}</small>
        {% else %}
          {{ form.confirm_new(class='form-control') }}
        {% endif %}
      </div>
      <div class='p-2 col text-center'>
        {{ form.submit(class='btn btn-primary')}}
      </div>
    </form>
  </div>
{% endblock %}
