{% extends "layout.html" %}
{% block content %}
   <div class="container">
      <div class="row">
         <div class="col-12">
            <form method="POST" action="">
               {{ form.hidden_tag() }}
               <div class="tile-box">
                  <div class="tile-box">
                     {% for city in form.cities %}
                        <div class="btn btn-outline-success tile">
                           {{ city.label }}
                           {{ city }}
                        </div>
                     {% endfor %}
                  </div>
                  <div class="tile-box">
                     {% for category in form.categories %}
                     <div class="btn btn-outline-secondary tile">
                        {{ category.label }}
                        {{ category }}
                     </div>
                     {% endfor %}
                  </div>
                  <div class="tile-input">{{ form.keyword(class="form-control form-control-lg") }}</div>
                  <div class="tile">{{ form.submit(class="btn btn-outline-primary") }}</div>
               </div>
            </form>
         </div>
      </div>
      <div class="col-22">
         {% for offer in offers %}
               <div class="offer">
                  <a href="{{ offer.url }}" target="_blank"></a>
                  <div class="offer__info-container">
                     <div>
                        <h2>{{ offer.title }}</h2>
                     </div>
                     <div class="offer__box-container">
                        <div>
                           <img src="/static/img/company.svg" alt="xd">
                           <h3>{{ offer.company }}</h3>
                        </div>
                        <div>
                           <img src="/static/img/city.svg" alt="xd">
                           <h3>{{ offer.city }}</h3>
                        </div>
                        {% for tech in offer.techstack %}
                        <div>
                           <img src="/static/img/technology.svg" alt="xd">
                              <h3>{{ tech }}</h3>
                        </div>
                        {% endfor %}
                        {% for exp in offer.experience %}
                        <div>
                           <img src="/static/img/level.svg" alt="xd">
                           <h3>{{ exp }}</h3>
                        </div>
                        {% endfor %}
                        {% if offer.salary.floor is not none %}
                        <div>
                           <img src="/static/img/level.svg" alt="xd">
                           <h3>{{ offer.salary.floor }} - {{ offer.salary.ceiling }} {{ offer.salary.currency }}</h3>
                        </div>
                        {% endif %}
                     </div>
                  </div>
                  <div class="offer__salary">
                     <h3>{{ offer.category }}</h3>
                  </div>
               </div>
            {% endfor %}
      </div>
   </div>
{% endblock %}