{% block head%}

  {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock  %}

  {% block title %}
    <title>WorkIT - IT Job Offers - Now in once place.</title>
  {% endblock%}

  {% block styles %}
    <link rel='Shortcut icon' href="{{url_for('static', filename='img/icon.png')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  {% endblock %}

{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}

  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class='alert alert-{{category}} alert-dismissible fade show' role='alert'>
          <button type='button' class='close' data-dismiss='alert'>&times;</button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% block page_content %}
    <div class="container-fluid" >
      <div class="row">
        <div class="col-sm-3">
          <div class="p-2 sticky-top border rounded" style="top: 100px;">
            {% block left_column %}
            {% endblock %}
          </div>
        </div>
        <div class="m-1 col-sm-7" style="width: 100%">
          {% block right_column %}
          {% endblock %}        
        </div>
      </div>  
    </div>
  {% endblock %}

{% endblock %}

{% block script %}
  <script src="{{url_for('static', filename='js/jquery-1.12.4.min.js')}}"></script>
 	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
{% endblock %}