{% block head%}

  {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock  %}

  {% block title %}
    <title>WorkIT - IT Job Offers - Now in once place.</title>
  {% endblock%}

  {% block styles %}
    <link rel='Shortcut icon' href="{{url_for('static', filename='img/icon.png')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  {% endblock %}

{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
  {% block page_content %}
  {% endblock %}
{% endblock %}

{% block script %}
  <script src="{{url_for('static', filename='js/jquery-1.12.4.min.js')}}"></script>
 	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
{% endblock %}