<form method="POST" action="">
   {{ searchForm.hidden_tag() }}
   <div class="tile-box">
      <div class="tile-box">
         {% for city in searchForm.cities %}
         <div class="btn btn-outline-success tile">
            {{ city.label }}
            {{ city }}
         </div>
         {% endfor %}
      </div>
      <div class="tile-box">
         {% for category in searchForm.categories %}
         <div class="btn btn-outline-secondary tile">
            {{ category.label }}
            {{ category }}
         </div>
         {% endfor %}
      </div>
      <div class="tile-input">{{ searchForm.keyword(class="form-control form-control-lg") }}</div>
      <div class="tile-submit">{{ searchForm.submit(class="btn btn-outline-primary") }}</div>
   </div>
</form>