{% extends 'layout.html' %}

{% block page_content %}
  <div class='p-3 mt-5 container-fluid border rounded' style="width: 500px;">
    <form method='POST'>
      {{ form.hidden_tag() }}
      <div class='form-group'>
        <label for='name'>Name</label>
        {% if form.name.errors %}
          {{ form.name(class='form-control is-invalid') }}
          <small style="color:red">{{ form.name.errors|join(', ')}}</small>
        {% else %}
          {{ form.name(class='form-control') }}
        {% endif %}
      </div>
      <div class='form-group'>
        <label for='email'>Email</label>
        {% if form.email.errors %}
          {{ form.email(class='form-control is-invalid') }}
          <small style="color:red">{{ form.email.errors|join(', ')}}</small>
        {% else %}
          {{ form.email(class='form-control') }}
        {% endif %}
      </div>
      <div class='form-group'>
        <label for='password'>Password</label>
        {% if form.password.errors %}
          {{ form.password(class='form-control is-invalid') }}
          <small style="color:red">{{ form.password.errors|join(', ')}}</small>
        {% else %}
          {{ form.password(class='form-control') }}
        {% endif %}
      </div>
      <div class='form-group'>
        <label for='confirm'>Confirm Password</label>
        {% if form.confirm.errors %}
          {{ form.confirm(class='form-control is-invalid') }}
          <small style="color:red">{{ form.confirm.errors|join(', ')}}</small>
        {% else %}
          {{ form.confirm(class='form-control') }}
        {% endif %}
      </div>
      <div class='form-group'>
        <label for='github'>Github</label>
        {% if form.github.errors %}
          {{ form.github(class='form-control is-invalid', placeholder='https://github.com/<your_username_here>') }}
          <small style="color:red">{{ form.github.errors|join(', ')}}</small>
        {% else %}
          {{ form.github(class='form-control', placeholder='https://github.com/<your_username_here>') }}
          <small class="form-text text-muted">Link to your profile on GitHub - This field is Optional</small>
        {% endif %}
      </div>
      <div class='p-2 col text-center'>
        {{ form.submit(class='btn btn-primary')}}
      </div>
    </form>
  </div>
{% endblock %}