Modal
h4 {
  font-weight: bold;
  color: #fff;
}
.close {
  color: #fff;
  transform: scale(1.2)
}
.modal-content {
  font-weight: bold;
  background: linear-gradient(to bottom right,rgb(34, 105, 255),rgb(107, 202, 255));
}
.form-control {
  margin: 1em 0;
}
.form-control:hover, .form-control:focus {
  box-shadow: none;  
  border-color: #fff;
}
.username, .password {
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #eee;
  padding-left: 10px;
  font-weight: normal;
  background: transparent;  
}
.form-control::-webkit-input-placeholder {
  width: 150px;
  color: #eee;  
}
.form-control:focus::-webkit-input-placeholder {
  width: 150px;
  font-weight: bold;
  color: #fff;
}
.login {
  padding: 6px 20px;
  border-radius: 20px;
  background: none;
  border: 2px solid #FAB87F;
  color: #FAB87F;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}
.login:hover {
  background: #FAB87F;
  color: #fff;
}

input[name=name] {
  position: absolute;
  margin-left: -47px;
  margin-top: 25px;
  line-height: 15px;
  padding: 3px;
}

input[name=email]  {
  position: absolute;
  margin-left: -45px;
  margin-top: 25px;
  line-height: 15px;
  padding: 3px;
}

input[name=password]  {
  position: absolute;
  margin-left: -75px;
  margin-top: 25px;
  line-height: 15px;
  padding: 3px;
}

input[name=confirm]  {
  position: absolute;
  margin-left: -173px;
  margin-top: 25px;
  line-height: 15px;
  padding: 3px;
}

input[name=github]  {
  position: absolute;
  margin-left: -51px;
  margin-top: 25px;
  line-height: 15px;
  padding: 3px;
}

input[id=submitSignup]{
  position: relative;
  text-align: center;
  color: white;
  background-color: rgb(74, 188, 251);
  border-color: white;
  margin-left: 330px;
  margin-top: -85px;
  width: 138px;
  height: 38px;
}

input[id=submitLogin]{
  position: relative;
  text-align: center;
  color: white;
  background-color: rgb(74, 188, 251);
  border-color: white;
  margin-left: 330px;
  margin-top: -85px;
  width: 138px;
  height: 38px;
}