<!doctype html>
<html>
   <head>
         <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="static/css/rows.css">   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-12">
               {% for row in rows %}
                  <div class="offer">
                     <a href="{{row[3]}}" target="_blank"></a>
                     <!-- <div class="offer__image">{{row[7]}}</div> -->
                     <div class="offer__info-container">
                        <div>
                           <h2>{{row[0]}}</h2>
                        </div>
                        <div class="offer__box-container">
                           <div>
                              <img src="/static/img/company.svg" alt="xd">
                              <h3>{{row[1]}}</h3>
                           </div>
                           <div>
                              <img src="/static/img/city.svg" alt="xd">
                              <h3>{{row[2]}}</h3>
                           </div>
                           <div>
                              <img src="/static/img/technology.svg" alt="xd">
                              <h3>{{row[5]}}</h3>
                           </div>
                           <div>
                              <img src="/static/img/level.svg" alt="xd">
                              <h3>{{row[6]}}</h3>
                           </div>
                           <div>
                              <img src="/static/img/level.svg" alt="xd">
                              <h3>{{row[4]}}</h3>
                           </div>
                        </div>
                     </div>
                     <div class="offer__salary">
                        <h3>{{row[7]}}</h3>
                     </div>
                  </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </body>
</html>