<!doctype html>
<html>
   <head>
      <link rel="stylesheet" href="static/css/rows.css">   </head>
   <body>
      <!-- <table border = 1>
         <thead>
            <td>Title</td>
            <td>Company</td>
            <td>City</td>
            <td>Salary</td>
            <td>TechStack</td>
            <td>Experience</td>
            <td>LogoURL</td>
            <td>OfferURL</td>
         </thead> -->
         
         
         {% for row in rows %}
         <div class="offer">
               <div class="title">{{row[0]}}</div>
               <div class="company">{{row[1]}}</div>
               <div class="city">{{row[2]}}</div>
               <div class="salary">{{row[3]}}</div>
               <div class="techstack">{{row[4]}}</div>
               <div class="experience">{{row[5]}}</div>
               
               <div class="logourl"><img src = {{row[6]}} style="width:80px;height:55px;"></div>

               <div class="offerurl"><a href = {{row[7]}} style="width:92%;height:60px;"></a></div>
         </div>
         {% endfor %}
      <!-- </table> -->
   </body>
</html>